.content-block {

	
}
.companies {
	margin: 0 auto;
	width: 934px;


		
		// .companies__title

		&__title {
			color: #242F51;
			font-size: 16px;
			text-align: center;
			margin-top: 128px;
			margin-bottom: 44px;
		}

		// .companies__row

		&__row {
			
			/* display: flex; */
		}

		

		&__body {
			
		
			display: flex;
			justify-content: space-between;
			
		}

		// .companies__logo

		&__logo {
		}
}

.feat {

	// .feat__body

	&__body {
		max-width: 1121px;
		margin: 0 auto;
		margin-top: 151px;
		display: flex;
	}

	// .feat__phone

	&__phone {
	}

	// .feat__info

	&__info {
		
	}

	// .feat__title

	&__title {
		
		line-height: (46/36)*100%;
		font-weight: 600;
	
		color: #242F51;
		font-size: 36px;
		margin: 67px 129px 28px 12px;
	}

	// .feat__subtitle

	&__subtitle {
		font-size: 16px;
		line-height: (26/16)*100%;
		font-weight: 400;
		color: #616368;
		margin-bottom: 92px;
	}

	// .feat__row

	&__row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		
	}

	// .feat__element

	&__element {
		display: flex;
		
		
	}

	// .feat__img

	&__img {
	}

	// .feat__text

	&__text {
	}
}



