.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 165px;
	width: 100vw;
	padding: 90px 0 18px;

	&__container {
		max-width: 1230px;
		padding: 0 30px;
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	&__nav {
		margin-right: 35px;
			a {
				margin: 0 20px;
				
			}
	}
}
.main-logo {
	display: flex;
	align-items: center;
	
	img {
		margin-top: 2px;
	}
}



.hero {
	height: calc(100vh - 205px);

	&__container {
		max-width: 1130px;
		padding: 0 30px 16px;
		margin: 165px auto 0;
		height: 100%;
		position: relative;
		top: 0;
		left: 25px;
	}
}

